---
---

<html lang="en">
<head>
	<title>Test redirección invite_token</title>
</head>
<body>
<h1>Test</h1>

<script>
	if (
		window.location.hash.includes('invite_token') &&
		!window.location.pathname.startsWith('/admin')
	) {
		window.location.href = '/admin/' + window.location.hash;
	}
</script>
</body>
</html>
